# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
auto-imports.d.ts text eol=lf
components.d.ts text eol=lf
